# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/ors-frontend/node_modules
/ors-frontend/.pnp
/ors-frontend/.pnp.js
/ors_backend/data/数据集
# testing
/ors-frontend/coverage

# production
/ors-frontend/build

# misc
/ors-frontend/.DS_Store
/ors-frontend/.env.local
/ors-frontend/.env.development.local
/ors-frontend/.env.test.local
/ors-frontend/.env.production.local

/ors-frontend/npm-debug.log*
/ors-frontend/yarn-debug.log*
/ors-frontend/yarn-error.log*

# ide
/ors-frontend/.idea/
/ors-frontend/.vscode/
/.vscode/
ors_backend/model/schedule/save/.idea
/ors_backend/model/schedule/save/.vscode
/ors_backend/data
/ors_backend/model/predict/model.txt

/ors-frontend/src/utils/SOURCEHANSANSCN-LIGHT.OTF
/ors-frontend/src/utils/SOURCEHANSANSCN-EXTRALIGHT.OTF
/ors-frontend/src/utils/SOURCEHANSANSCN-REGULAR.OTF

/ors_backend/model/predict/modelx
/ors_backend/data/ff_all_2328_newest.csv
/ors_backend/data/190723_HUATUO_OR_data.csv
/ors_backend/data/数据集
