/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 10px;  /*滚动条宽度*/
    height: 20px  /*滚动条高度*/
}  
.display-linebreak {
  white-space: pre;
}
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    /*滚动条的背景区域的内阴影*/
    box-shadow:0px 1px 3px rgba(0,0,0,0.3) inset;

    /*滚动条的背景区域的圆角*/
    border-radius: 10px;  

    /*滚动条的背景颜色*/
    background-color: #717483;
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    /*滚动条的内阴影*/
    box-shadow:0px 1px 3px rgba(0,0,0,0.3) inset;

    /*滚动条的圆角*/
    border-radius: 10px;  

    /*滚动条的背景颜色*/
    background-color: #ffffff;  
}  

.OperationSchedule{
  overflow:auto;
  height:500px;
  margin: 10px;
  text-align: center;
  border:0.5px solid;
  border-radius:25px;
  -moz-border-radius:25px;
  border-color: white;
}

.OperationItem {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
}

.TimeTag {
  width: 2px;
  height: 40px;
  background: white;
  position:relative;
  top:-5px;
}

.OperationItemBody {
  width: 100px;
  height: 30px;
  background: #508EEE;
  display: inline-block;
  *display: inline; 
  zoom: 1; 
  vertical-align: top;
}


@font-face {
    font-family: 'baoziFont'; /* 自定义的字体名称; */
    src: url('./utils/SOURCEHANSANSCN-EXTRALIGHT.OTF') format('truetype');  /* 自定义的字体的存放路径、格式; */
}

.bedInfo {
  width: 60px;
  border: none;
  color: white;
  background:#171E34;
  z-index: 2;
  position: sticky;
  left:0;
  font-family: "baoziFont";
  font-size: 16px;
}

.timePoint {
  height: 8px;
  width: 8px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: -4px;
  bottom: -4px;
  font-family:"baoziFont";
}

.timeTag {
  transform: rotate(-30deg);
  position: absolute;
  left: -4px;
  bottom: 0;
  z-index: 3;
  font-family:"baoziFont";
  /*font-size: 30px;*/
}

.quarterCell {
  width: 45px;
  border:1px solid white;
}

/* .scheduleHeader {
  background: #171E34;
  border: solid gray;
  border-width: 1px 0 1px 0;
  color: white;
  height: 50px;
  z-index: 2;
} */

.scheduleHeader {
  background: #171E34;
  border: solid gray;
  border-width: 0 0 1px 0;
  color: white;
  height: 50px;
  z-index: 2;
}

.spaceRow {
  background: #171E34;
  height: 10px;
  border: none;
  
}

.dataRow {
  background: #2A383F;
  height: 30px;
  border: 0.05px solid;
  border-color: #607F89;
}

.BedScheduleTd {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: -1px;
}

.stickyRow {
  position:sticky;
  top:0;
}
.ant-tag-has-color{
  color:#171E43 !important;
}
.previewButton{
  border: 0px;
}


.endTimeCell {
  border-left:1px solid #EB84C0;
}
