.Yinlogo{
    animation: App-logo-spin infinite 20s linear;
    height: 10vmin;
    pointer-events: none;
    /*float: left;*/
    width: 10%;
    /*margin-top: 10px;*/
    /*margin-left: 100px;*/
}
/*Table{*/
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
    /*border:2px solid;*/
    /*border-radius:25px;*/
/*}*/
.chart {
    /* height: 300px;
    width: 200px; */
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 30%;
}